body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.pizza > ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
label {
	display: flex;
	cursor: pointer;
}
label > button {
	margin-left: 10px;
	padding: 0;
	border: 0;
	font-size: 20px;
	cursor: pointer;
}
